In [1]:
"""
Given the following dataset, calculate the average lifetime value of a customer.

    
Below are a couple of definitions to help solve the problem:
    
Lifetime value is average revenue divided by the churn rate

Churn rate is defined as the total number of churned customers / total number of customers
     
Additionally, here is code to import the relevant packages as well as the dataset shown above, 
to help get you started:
    
#Importing packages

import pandas as pd

import numpy as np
    

#Read in the dataset
    
data = pd.read_csv("https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv") 
    
#Convert these column types to int
    
data['TotalCharges'] = pd.to_numeric(data.TotalCharges, downcast='integer', errors='coerce')

data['MonthlyCharges'] = pd.to_numeric(data.MonthlyCharges, downcast='integer', errors='coerce')
"""

import pandas as pd
import numpy as np

# load data, done on 2021-10-18
# url = "https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/teleco_user_data.csv"
# df = pd.read_csv(url)
# df['TotalCharges'] = pd.to_numeric(df.TotalCharges, downcast='integer', errors='coerce')
# df['MonthlyCharges'] = pd.to_numeric(df.MonthlyCharges, downcast='integer', errors='coerce')
# df.to_pickle('./data/teleco_user_data.pkl')

In [2]:
# load data
df = pd.read_pickle('./data/teleco_user_data.pkl')
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
857,2207-NHRJK,Male,0,No,No,1,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,No,Electronic check,50.80,50.80,Yes
3986,6242-FEGFD,Male,0,Yes,No,66,Yes,Yes,Fiber optic,Yes,...,Yes,Yes,No,No,Two year,No,Mailed check,96.60,6424.25,No
2406,7548-SEPYI,Female,0,No,No,5,Yes,No,Fiber optic,No,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,96.25,512.45,Yes
5510,6693-FRIRW,Male,0,No,No,18,Yes,No,Fiber optic,No,...,Yes,No,Yes,Yes,Month-to-month,No,Credit card (automatic),101.30,1794.65,No
541,2782-LFZVW,Female,0,No,No,11,Yes,Yes,DSL,No,...,No,No,No,Yes,Month-to-month,Yes,Mailed check,58.95,601.60,No

In [3]:
df.shape

(7043, 21)

In [4]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [5]:
df['customerID'].value_counts()

2674-MIAHT    1
9136-ALYBR    1
9530-GRMJG    1
7564-GHCVB    1
7243-LCGGZ    1
             ..
2250-IVBWA    1
6047-SUHPR    1
9575-IWCAZ    1
6711-FLDFB    1
2848-YXSMW    1
Name: customerID, Length: 7043, dtype: int64

In [6]:
df['Churn'].iloc[:10]

0     No
1     No
2    Yes
3     No
4    Yes
5    Yes
6     No
7     No
8    Yes
9     No
Name: Churn, dtype: object

In [7]:
df['Churn'].value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [8]:
df['TotalCharges'].mean()/(1869/7043)

8604.218836195429