In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/ddi_message_app_data.csv')

In [3]:
data.sample(20)

           date  sender_id  receiver_id
871  2018-03-03          7           10
804  2018-03-03          5            2
524  2018-03-02          3            1
183  2018-03-01          5            6
686  2018-03-02          1            8
2    2018-03-01          1            2
433  2018-03-01          7            6
189  2018-03-01          2            7
250  2018-03-01          2            3
802  2018-03-03          6            5
112  2018-03-01          1            8
98   2018-03-01          5            8
646  2018-03-02          7            2
462  2018-03-02         10            4
500  2018-03-02          2            3
449  2018-03-01          5            7
662  2018-03-02          7            1
654  2018-03-02          7            4
989  2018-03-03          9            5
451  2018-03-01          5            8

In [4]:
data.shape

(999, 3)

In [5]:
"""
https://raw.githubusercontent.com/erood/interviewqs.com_code_snippets/master/Datasets/ddi_message_app_data.csv

Here is a table containing information from a P2P messaging application. 
The table contains send/receive message data for the application's users. The structure is as follows:

Table name: user_messaging

date
sender_id (#id of the message sender)
receiver_id (#id of the message receiver)

Question: Using Python, calculate what fraction of senders sent messages to at least 9 unique people on 
March 1, 2018.
"""
data_date = data.loc[data.date == '2018-03-01']
data_date

           date  sender_id  receiver_id
0    2018-03-01          5            2
1    2018-03-01          8            6
2    2018-03-01          1            2
3    2018-03-01          4            8
4    2018-03-01          2            7
..          ...        ...          ...
454  2018-03-01         10            7
455  2018-03-01          4            6
456  2018-03-01          1            2
457  2018-03-01          3            2
458  2018-03-01          9            2

[459 rows x 3 columns]

In [6]:
senders = list(data_date.sender_id.value_counts().index)
senders.sort()
senders

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
senders = data_date.sender_id.unique()
senders.sort()
senders

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [8]:
data_date.loc[data_date.sender_id == 1]['receiver_id'].unique()

array([ 2,  7, 10,  5,  9,  8,  4,  3,  6])

In [9]:
sender_unique_dict = {}
for s in senders:
    sender_unique_dict[s] = len(data_date.loc[data_date.sender_id == s]['receiver_id'].unique())
sender_unique_dict

{1: 9, 2: 9, 3: 9, 4: 9, 5: 9, 6: 9, 7: 8, 8: 9, 9: 9, 10: 9}

In [10]:
ctn9 = 0
for x in sender_unique_dict:
    if sender_unique_dict[x] >= 9:
        ctn9 += 1
ctn9 / len(senders) * 100

90.0

In [11]:
def percent_n_unique(df, date, n):
    df_date = df.loc[df.date == date]
    senders = df_date.sender_id.unique()
    sender_unique_dict = {}
    for s in senders:
        sender_unique_dict[s] = len(df_date.loc[df_date.sender_id == s]['receiver_id'].unique())
    ctn = 0
    for x in sender_unique_dict:
        if sender_unique_dict[x] >= n:
            ctn += 1
    return ctn / len(senders) * 100

In [12]:
data.date.min(), data.date.max()

('2018-03-01', '2018-03-03')

In [13]:
percent_n_unique(data, '2018-03-01', 9), percent_n_unique(data, '2018-03-02', 9), percent_n_unique(data, '2018-03-03', 9)

(90.0, 70.0, 50.0)