In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
cereal_df = pd.read_csv('./data/cereal_data_q56.csv')
cereal_df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbs,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [3]:
cereal_df.shape

(77, 16)

In [4]:
'''
Suppose you have the following dataset*, which is a list of 80 cereals, containing the following fields:

mfr: Manufacturer of cereal
A = American Home Food Products
G = General Mills
K = Kelloggs
N = Nabisco
P = Post
Q = Quaker Oats
R = Ralston Purina
type:
cold
hot
calories: calories per serving
protein: grams of protein per serving
fat: grams of fat per serving
sodium: milligrams of sodium
fiber: grams of dietary fiber
carbs: grams of complex carbohydrates
sugars: grams of sugars
potass: milligrams of potassium
vitamins: vitamins and minerals - 0, 25, or 100, indicating the typical percentage of FDA recommended
shelf: display shelf (1, 2, or 3, counting from the floor)
weight: weight in ounces of one serving
cups: number of cups in one serving
rating: a rating of the cereals (Possibly from Consumer Reports?)

Given the above, can you build a model using Python to predict cereal rating? 
We'll be creating a multivariate linear regression as a solution for premium users.
'''
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [5]:
cereal_df.describe()

,calories,protein,fat,sodium,fiber,carbs,sugars,potass,vitamins,shelf,weight,cups,rating
count,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000,77.000000
mean,106.883117,2.545455,1.012987,159.675325,2.151948,14.597403,6.922078,96.077922,28.246753,2.207792,1.029610,0.821039,42.665705
std,19.484119,1.094790,1.006473,83.832295,2.383364,4.278956,4.444885,71.286813,22.342523,0.832524,0.150477,0.232716,14.047289
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,130.000000,1.000000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,33.174094
50%,110.000000,3.000000,1.000000,180.000000,2.000000,14.000000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.400208
75%,110.000000,3.000000,2.000000,210.000000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.828392
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [6]:
# import seaborn as sns
# sns.pairplot(cereal_df)

In [7]:
X = cereal_df.drop(['rating', 'name']
                  , axis = 1
                 )
X.mfr = pd.factorize(X.mfr
                     , sort=True
                    )[0] + 1
X.type = pd.factorize(X.type
                      , sort=True
                     )[0] + 1
X.head()

,mfr,type,calories,protein,fat,sodium,fiber,carbs,sugars,potass,vitamins,shelf,weight,cups
0,4,1,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33
1,6,1,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00
2,3,1,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33
3,3,1,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50
4,7,1,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75

In [8]:
y = cereal_df.rating

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X
                                                    , y
                                                    , test_size = 0.25
                                                    , random_state = 42
                                                   )

In [10]:
lin_reg = LinearRegression().fit(X_train
                                 , y_train
                                )
lin_reg.score(X_train
              , y_train
             )

0.9999999999999996

In [11]:
lin_reg.coef_

array([ 2.50463197e-08, -1.39725833e-07, -2.22724169e-01,  3.27317388e+00,
       -1.69140801e+00, -5.44927026e-02,  3.44347977e+00,  1.09245094e+00,
       -7.24895139e-01, -3.39933516e-02, -5.12119684e-02, -3.73062270e-08,
        5.04245125e-07,  1.70151320e-07])

In [12]:
lin_reg.intercept_

54.92718412010947