In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
"""
Suppose you have the following dataset which contains (1st tab) 
a list of items purchased by a given user, (2nd tab) a mapping 
which maps the item_id to the item name and price, (3rd tab) a 
matrix that formats data from sheet 1 into a matrix with users 
in rows and the number of each item_id purchased in columns.

Using this data, can you create a similarity matrix for each item? 
Then can you create a heat chart that visually displays the similarity matrix?

Note: The purpose of doing this exercise is to explore ways of 
analyzing data that could be generalized by a group (think clustering).
"""

sheet2 = pd.read_csv('./data/grocery_shopping_sheet2a.csv')
sheet2.sample(10)

            item_name  Item_id  price
47             yogurt       48      1
10            cereals       11      3
30              pasta       31      1
40            ketchup       41      1
32       toilet paper       33      2
12             bagels       13      2
46               pork       47      4
24           cherries       25      3
21  frozen vegetables       22      1
29              flour       30      2

In [3]:
sheet2.shape

(48, 3)

In [4]:
type(sheet2.Item_id.iloc[0])

numpy.int64

In [5]:
len(sheet2.Item_id.value_counts())

48

In [6]:
for ids in sheet2.Item_id.values:
    print(ids)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

In [7]:
item_id_dict = {str(x): 0 for x in sheet2.Item_id.values}
item_id_dict

{'1': 0,
 '2': 0,
 '3': 0,
 '4': 0,
 '5': 0,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0,
 '10': 0,
 '11': 0,
 '12': 0,
 '13': 0,
 '14': 0,
 '15': 0,
 '16': 0,
 '17': 0,
 '18': 0,
 '19': 0,
 '20': 0,
 '21': 0,
 '22': 0,
 '23': 0,
 '24': 0,
 '25': 0,
 '26': 0,
 '27': 0,
 '28': 0,
 '29': 0,
 '30': 0,
 '31': 0,
 '32': 0,
 '33': 0,
 '34': 0,
 '35': 0,
 '36': 0,
 '37': 0,
 '38': 0,
 '39': 0,
 '40': 0,
 '41': 0,
 '42': 0,
 '43': 0,
 '44': 0,
 '45': 0,
 '46': 0,
 '47': 0,
 '48': 0}

In [8]:
sheet1 = pd.read_csv('./data/grocery_shopping_sheet1a.csv')
sheet1.sample(10)

       user_id                                                 id
20183  1003307                                               18,9
24912   842688                       13,37,34,42,44,43,22,29,39,6
9200      5298                                     26,38,22,23,18
303     557085                            13,26,28,43,38,27,18,36
17550  1406663                  20,25,9,27,2,28,16,42,10,44,24,13
6677   1473772                                  14,40,46,19,47,44
14667   978964                           44,25,23,34,10,45,3,19,2
1012    896886                                           46,40,20
36131   505400  28,20,40,48,21,46,12,24,39,8,16,9,23,36,17,6,4...
15878   607927                         10,13,22,5,11,30,1,20,25,3

In [9]:
sheet1.shape

(39474, 2)

In [10]:
sheet1.user_id.nunique()

24885

In [11]:
type(sheet1.id.iloc[0])

str

In [12]:
sheet1.id.iloc[0].split(',')

['27', '26']

In [13]:
sheet1[sheet1.user_id == 120265].id

1666    23,45,44,47,6,28,4,25,32,20,46
6607                 37,34,40,13,39,42
Name: id, dtype: object

In [14]:
unique_user_ids = sheet1.user_id.unique()
type(unique_user_ids[1])

numpy.int64

In [15]:
# tallys = []
# for user in unique_user_ids:
#     for lst in sheet1[sheet1.user_id == user].id:
#         pass