In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [3]:
"""
Suppose you have the following dataset which contains (1st tab) 
a list of items purchased by a given user, (2nd tab) a mapping 
which maps the item_id to the item name and price, (3rd tab) a 
matrix that formats data from sheet 1 into a matrix with users 
in rows and the number of each item_id purchased in columns.

Using this data, can you create a similarity matrix for each item? 
Then can you create a heat chart that visually displays the similarity matrix?

Note: The purpose of doing this exercise is to explore ways of 
analyzing data that could be generalized by a group (think clustering).
"""

sheet2 = pd.read_csv('./data/grocery_shopping_sheet2a.csv')
sheet2.sample(10)

            item_name  Item_id  price
32       toilet paper       33      2
21  frozen vegetables       22      1
28          hand soap       29      3
41          cucumbers       42      1
20            cheeses       21      2
31             apples       32      2
15               milk       16      3
47             yogurt       48      1
30              pasta       31      1
43           broccoli       44      1

In [4]:
sheet1 = pd.read_csv('./data/grocery_shopping_sheet1a.csv')
sheet1.sample(10)

       user_id                                     id
11918  1041627             9,1,16,34,8,41,37,24,39,22
21408   429216  47,34,37,24,17,16,14,32,20,5,27,33,43
650    1037882                                   4,43
13114   884942                      14,35,19,48,45,10
36091   838280              26,40,38,34,37,39,17,47,9
9938   1035648                          27,3,34,37,38
24011   342103                               34,45,17
5310    824168        7,33,37,22,26,2,1,8,32,15,46,40
13001   302586      13,47,17,6,23,26,28,36,39,46,18,1
3780   1461481                     34,21,9,43,32,40,1