In [1]:
"""
Given the following dataset, classify customer value based on order frequency. 

You can assign them a score of 1-3, with 1 being least valuable and 3 being most valuable. 

For example, a customer who has made 10 purchases is more valuable than one that has made 
2 purchases across the same time period.

For more information regarding customer lifetime value you can read 
this post: https://www.shopify.com/blog/customer-lifetime-value

The solution will be written in Python for premium users. 

Note that this question is a part of a series of questions that will build off of each other.
"""
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

data = pd.read_csv('./data/Online_Retail.csv')
data.sample(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
10050,537224,84946,ANTIQUE SILVER TEA GLASS ETCHED,12,12/5/10 16:24,1.25,13174.0,United Kingdom
40731,539741,21041,RED RETROSPOT OVEN GLOVE DOUBLE,1,12/21/10 15:20,5.91,NaN,United Kingdom
10340,537237,21704,BAG 250g SWIRLY MARBLES,2,12/6/10 9:58,1.66,NaN,United Kingdom
15342,537638,22469,HEART OF WICKER SMALL,5,12/7/10 15:28,3.36,NaN,United Kingdom
50327,540551,21494,ROTATING LEAVES T-LIGHT HOLDER,6,1/10/11 9:43,1.66,NaN,United Kingdom
48540,540469,21500,PINK POLKADOT WRAP,25,1/7/11 14:04,0.42,12484.0,Spain
12244,537372,48187,DOORMAT NEW ENGLAND,4,12/6/10 12:52,7.95,16919.0,United Kingdom
64023,541592,22565,FELTCRAFT HAIRBANDS PINK AND WHITE,2,1/19/11 15:08,1.63,NaN,United Kingdom
41086,539750,21327,SKULLS WRITING SET,1,12/21/10 15:40,2.51,NaN,United Kingdom
57456,541206,21218,RED SPOTTY BISCUIT TIN,96,1/14/11 12:24,3.25,14646.0,Netherlands

In [2]:
data.isna().sum()

InvoiceNo          0
StockCode          0
Description      166
Quantity           0
InvoiceDate        0
UnitPrice          0
CustomerID     25281
Country            0
dtype: int64

In [3]:
data.shape

(65499, 8)

In [4]:
data.InvoiceDate.min(), data.InvoiceDate.max()

('1/10/11 10:04', '12/9/10 9:49')

In [5]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'])

In [6]:
data.InvoiceDate.min(), data.InvoiceDate.max()

(Timestamp('2010-12-01 08:26:00'), Timestamp('2011-01-20 18:01:00'))

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65499 entries, 0 to 65498
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    65499 non-null  object
 1   StockCode    65499 non-null  object
 2   Description  65333 non-null  object
 3   Quantity     65499 non-null  int64
 4   InvoiceDate  65499 non-null  datetime64[ns]
 5   UnitPrice    65499 non-null  float64
 6   CustomerID   40218 non-null  float64
 7   Country      65499 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 4.0+ MB