In [1]:
"""
The dataframe is showing information about students. 
Write code using Python Pandas to select the rows where 
the students' favorite color is green or yellow and 
their grade is between 85-95 (inclusive).
"""

import pandas as pd
raw_data = {'age': [20, 19, 22, 21], 
        'favorite_color': ['blue', 'blue', 'yellow', 'green'], 
        'grade': [88, 95, 92, 70], 
        'name': ['Willard Morris', 'Al Jennings', 'Omar Mullins', 'Spencer McDaniel']}
df = pd.DataFrame(raw_data, columns = ['age', 'favorite_color', 'grade', 'name',])
df

   age favorite_color  grade              name
0   20           blue     88    Willard Morris
1   19           blue     95       Al Jennings
2   22         yellow     92      Omar Mullins
3   21          green     70  Spencer McDaniel

In [2]:
df[(df.favorite_color == 'yellow')
   & (df.grade >= 85) 
   & (df.grade <= 95)
  ]

   age favorite_color  grade          name
2   22         yellow     92  Omar Mullins