In [1]:
"""
Suppose you're analyzing the utilization of a small parking lot you invested in. 
Customers enter the automated lot, receive a ticket, and select one of 20 spots at 
random (e.g. they are not assigned). Upon leaving, customers pay in relation to 
their time in the lot.

You have collected the following dataset, which shows spot utilization for a month. 
Each # in the dataset corresponds to a spot # (1-20) and the # of times it appears 
in a row corresponds to the frequency of how many customers parked in that spot.

Using all of this information, write code to visualize the Probability Mass Function 
(PMF) of your customers' spot selections. Your resultant chart should show each 
spot # (1-20) along with the probability of that spot being chosen based on your 
dataset. You can ignore seasonality and assume this month represents a standard 
month of parking at your lot.
"""

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
data = pd.read_csv('./data/parking_spot_selection.csv')
data.sample(10)

     Spot #
408       8
148       3
834      17
141       3
216       5
287       6
469      10
204       4
149       3
329       7

In [3]:
data.shape

(987, 1)

In [4]:
data['Spot #'].value_counts(sort=False)

1     57
2     59
3     49
4     46
5     58
6     51
7     47
8     45
9     49
10    46
11    35
12    52
13    38
14    51
15    49
16    65
17    46
18    56
19    49
20    39
Name: Spot #, dtype: int64