In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [2]:
"""
Suppose you have the following dataset which contains (1st tab) 
a list of items purchased by a given user, (2nd tab) a mapping 
which maps the item_id to the item name and price, (3rd tab) a 
matrix that formats data from sheet 1 into a matrix with users 
in rows and the number of each item_id purchased in columns.

Using this data, can you create a similarity matrix for each item? 
Then can you create a heat chart that visually displays the similarity matrix?

Note: The purpose of doing this exercise is to explore ways of 
analyzing data that could be generalized by a group (think clustering).
"""

sheet2 = pd.read_csv('./data/grocery_shopping_sheet2a.csv')
sheet2.sample(10)

        item_name  Item_id  price
3      baby items        4      4
13           eggs       14      2
24       cherries       25      3
41      cucumbers       42      1
26    dishwashing       27      6
5         poultry        6      4
39        berries       40      3
18  shaving cream       19      2
30          pasta       31      1
32   toilet paper       33      2

In [3]:
sheet2.shape

(48, 3)

In [4]:
type(sheet2.Item_id.iloc[0])

numpy.int64

In [13]:
len(sheet2.Item_id.value_counts())

48

In [19]:
for ids in sheet2.Item_id.values:
    print(ids)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48

In [20]:
item_id_dict = {str(x): 0 for x in sheet2.Item_id.values}
item_id_dict

{'1': 0,
 '2': 0,
 '3': 0,
 '4': 0,
 '5': 0,
 '6': 0,
 '7': 0,
 '8': 0,
 '9': 0,
 '10': 0,
 '11': 0,
 '12': 0,
 '13': 0,
 '14': 0,
 '15': 0,
 '16': 0,
 '17': 0,
 '18': 0,
 '19': 0,
 '20': 0,
 '21': 0,
 '22': 0,
 '23': 0,
 '24': 0,
 '25': 0,
 '26': 0,
 '27': 0,
 '28': 0,
 '29': 0,
 '30': 0,
 '31': 0,
 '32': 0,
 '33': 0,
 '34': 0,
 '35': 0,
 '36': 0,
 '37': 0,
 '38': 0,
 '39': 0,
 '40': 0,
 '41': 0,
 '42': 0,
 '43': 0,
 '44': 0,
 '45': 0,
 '46': 0,
 '47': 0,
 '48': 0}

In [5]:
sheet1 = pd.read_csv('./data/grocery_shopping_sheet1a.csv')
sheet1.sample(10)

       user_id                                   id
30582  1457158                           38,43,27,5
17307   315367                  38,26,18,2,46,32,27
21809   569044                 8,42,10,2,44,24,1,19
13827   373697                  28,37,17,26,1,41,19
8951    756984                  23,26,6,47,17,27,18
21788   486321                          46,22,42,45
30132  1073150                       19,17,6,47,1,2
30973  1060390  32,20,25,3,9,23,43,47,6,40,13,36,37
4318    871788                34,17,47,1,27,18,9,43
8416   1213098             2,45,44,17,34,9,39,47,30

In [6]:
sheet1.shape

(39474, 2)

In [7]:
sheet1.user_id.nunique()

24885

In [8]:
type(sheet1.id.iloc[0])

str

In [9]:
sheet1.id.iloc[0].split(',')

['27', '26']

In [10]:
sheet1[sheet1.user_id == 120265].id

1666    23,45,44,47,6,28,4,25,32,20,46
6607                 37,34,40,13,39,42
Name: id, dtype: object

In [11]:
unique_user_ids = sheet1.user_id.unique()
len(unique_user_ids)

24885