In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/sales_data_9Oct2020.csv')

In [3]:
df.head()

,user_id,signup_time,purchase_time,purchase_value,device_id,source,browser,sex,age,ip_address
0,22058,2015-02-24 22:55:49,2015-04-18 2:47:11,34,QVPSPJUOCKZAR,SEO,Chrome,M,39,7.327584e+08
1,333320,2015-06-07 20:39:50,2015-06-08 1:38:54,16,EOGFQPIZPYXFZ,Ads,Chrome,F,53,3.503114e+08
2,1359,2015-01-01 18:52:44,2015-01-01 18:52:45,15,YSSKYOSJHPPLJ,SEO,Opera,M,53,2.621474e+09
3,150084,2015-04-28 21:13:25,2015-05-04 13:54:50,44,ATGTXKYKUDUQN,SEO,Safari,M,41,3.840542e+09
4,221365,2015-07-21 7:09:52,2015-09-09 18:40:53,39,NAUITBZFJKHWW,Ads,Safari,M,45,4.155831e+08

In [4]:
'''
You can assume that purchase_value is revenue in this case, 
and you'll have to calculate the percent of revenue by source 
prior to plotting.
'''
df.shape

(151112, 10)

In [5]:
sales_by_source = df.groupby('source').agg({'purchase_value': 'sum'})
sales_by_source

        purchase_value
source
Ads            2211133
Direct         1130971
SEO            2239274

In [6]:
total = sales_by_source.agg({'purchase_value':'sum'})
total.values[0]

5581378

In [7]:
sales_by_source['percent'] = sales_by_source.purchase_value / total[0]
sales_by_source

        purchase_value   percent
source
Ads            2211133  0.396163
Direct         1130971  0.202633
SEO            2239274  0.401205